<%= form_with model: @shift, local: true do |f| %>
    <div class="form-group">
        <div>
            <%= f.label :グループ名%>
            <%=f.collection_select :post_id, @posts, :id, :post_name, {prompt: "店舗をして下さい"}%>
        </div>
        <div>
            <%= f.label :日にち%>
            <%= f.date_select :start_time.to_s%>
        </div>
        <div>
            <%= f.label :出勤時刻%>
            <%= f.time_select :punch_in%>
        </div>
        <div>
            <%= f.label :退勤時刻%>
            <%= f.time_select :punch_out%>
        </div>
        <div>
            <%= f.submit "送信", class:"btn-outline-dark"%>
        </div>
    </div>
    
<% end %>