<h2>
    <%= current_user.nickname%>さん
</h2>


<main>
    <%= month_calendar  events: @shifts do |date, shifts| %>
        <%= date.day %>

        <% shifts.each do |shift| %>
            <div>
                <%= link_to edit_shift_path(shift.id) do%> 
                    <%= shift.admin.user_name %>
                    <%= shift.punch_in.strftime('%H:%M') %>
                    <%= shift.punch_out.strftime('%H:%M') %>
                <% end %>
            </div>
        <% end %>
    <% end %>
</main>
