<h2>
    <%= current_user.nickname%>さん
</h2>

<aside>
    <ul>
    </ul>
</aside>

<main>
    <%= month_calendar  events: @shifts do |date, shifts| %>
        <%= date.day %>

        <% shifts.each do |shift| %>
            <div>
                <%= link_to shift.punch_in.strftime('%H:%M'), edit_shift_path(shift.id) %>
                <%= link_to shift.punch_out.strftime('%H:%M'), edit_shift_path(shift.id) %>
            </div>
        <% end %>
    <% end %>
</main>
